body {
    margin: 0;
    padding: 0;
    background-color: #f6e2c6;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

#janela {
    padding: 10px;
    background-color: #fff;
    width: 320px;
}

img {
    display: none;
}
